.pblue{
    color:#355b97; 
    font-family:var(--Fredoka);
    font-size :14px;
    line-height:1.5em;
}
.datep{
    color:#99c2ec;
     font-size: 18px;
     font-family:var(--Roboto);
     font-weight:bold;
     margin-bottom:20px;
}
.pblue2{
     color:#c3c3c4; 
     font-family:var(--Roboto);
}
.swapgagne{
    width:60px;
    height:60px;    
    margin-top:-20px
}
.pblue3{
    color:#355b97; 
    font-family:var(--Fredoka);
    font-size :16px;
}